<!DOCTYPE html>
<html lang='en'>
<meta charset='utf-8'>
{%- if standalone -%}
<base href='https://www.salmon-stats.ink/'>
{%- endif         -%}
<title>{{ player.name|e }}</title>
<link rel='stylesheet' href='/style/sr.css'>
<link rel="icon" href="favicon.ico" type="text/x-icon">
</head><body>
{% include "player_stats.html" %}
{% include "specials_info.html"  %}
{% include "weapons_info.html"   %}
<div class='card' id='card-waves'>
    <h1>{{ "title"|waveother(lang) }}</h1>
{% include "waves_max.html"      %}
{% include "waves_day_tide.html" %}
{% include "waves_detailed.html"    %}
</div>
</body>
</html>
